 
<div class="ui container center aligned">
  <div class="ui secondary menu ">
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">Friends </a>
    <a class="ui item">Logout </a>
  </div>
</div>
